@font-face {
  font-family: Montserrat-regular;
  src: url('../../public/fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: Montserrat-Bold;
  src: url('../../public/fonts/Montserrat-Bold.ttf');
}


/* Pagina inicial*/
.container-all-start{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header-container{
  width: 100%;
  height: 5vw;
  background: linear-gradient( to top, #0b42ce,#062168);   
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: space-between;
  padding: 0vw 2vw;
  box-sizing: border-box;
}
.link-login{
  width: 6vw;
  height: 2.5vw;
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content:center;
  border-radius: 15px;
 text-decoration: none;
 color: white;
 border: solid 1px white;
 font-family: Montserrat-Bold;
 transition: 0.1s;
}
.link-login:hover{
background-color: white;
color: #0b42ce;
transition: 0.1s;
}


/* Login*/

.container-all-login{
  margin-top: 6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
 }
 
 .logo-container{
     width: 12vw;
     height: 5vw;
     background-color: #0b42ce;
     border-radius: 15px;
     margin: 0vw 0vw 2vw 0vw;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .logo-container img{
  height: 90%;
}
 .border-container-login{
     width: 35%;
     height: 30vw;
     background: linear-gradient( to bottom, #0b42ce,#062168);
     box-sizing: border-box;
     padding: 1px;
     border-radius: 20px;
 }
 .container-login{
     width: 100%;
     height: 100%;
     border-radius: 20px;
     background-color: white;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }
 .container-email-senha{
     display: flex;
     flex-direction: column;
     align-items: left;
     justify-content: center;
     width: 30vw;
 }
 .container-email-senha input{
     width: 100%;
   border: 1px solid #0b42ce;
   border-radius: 15px;
   height: 3vw;
   margin: 0.5vw 0vw;
   margin-bottom: 2vw;
   transition: 0.5s;
 }
 .container-email-senha input:focus{
     outline: none;
     border: 1px solid #020e2b;
     transition: 0.5s;
   }
 .container-email-senha label{
     font-family: Montserrat-Bold;
     font-size: 1.3vw;
     margin: 0.5vw 1vw;
 }
 .container-login button{
   width: 22vw;
   height: 3vw;
   background: linear-gradient( to bottom, #0b42ce,#062168); 
   border: none;
   border-radius: 15px;
   color: white;
   font-family: Montserrat-Bold;
   font-size: 1.5vw;
   cursor: pointer;
   transition: 1s;
 }
 .container-login button:focus{
     transition: 1s;
     background: white;
     color: #0b42ce ;
   }
   .container-login p, a{
     font-family: Montserrat-regular;
     font-size: 1vw;
     margin-top: 0.5vw;
     margin-bottom: 0vw;
   }


/* Paginas dos usuários*/


/* REPRESENTANTE*/

.container-page{
    padding-left: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-page p, li, strong{
  font-family: Montserrat-regular;
  font-size: 1.4vw;
}
.card-border{
    width: fit-content;
    height: fit-content;
    background: linear-gradient(to top, #0b42ce,#062168);
    padding: 1px;
    box-sizing: border-box;
    border-radius: 35px;
    box-shadow: 0px 4px rgb(119, 119, 119);
    align-self: center;
    justify-self: center;
  }
/* lista de pesquisas*/
  .title-suas-pesquisas{
    font-size: 3vw;
    font-family: Montserrat-Bold;
    background: linear-gradient(180deg, #0b42ce,#062168); /* Defina as cores do gradiente */
    -webkit-background-clip: text; /* Recorta o background no texto */
    -webkit-text-fill-color: transparent; /* Torna o texto transparente para mostrar o gradiente */
    background-clip: text; 
  }
  .container-card-pesqlist{
    width: 18vw ;
    height: 18vw;
    background-color: white;
    padding: 0vw 0vw;
    box-sizing: border-box;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-card-pesqlist .link-to-pesq{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw 0vw;
    text-decoration: none;
  }
  .container-card-pesqlist h2{
    width: 100%;
    height: 80%;
    margin: 0vw;
    padding: 0px;
    font-size: 1.5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Montserrat-Bold;
    font-size: 2.4vw;
    border-bottom: 1px solid black;
    background: linear-gradient(180deg, #0b42ce,#062168); /* Defina as cores do gradiente */
    -webkit-background-clip: text; /* Recorta o background no texto */
    -webkit-text-fill-color: transparent; /* Torna o texto transparente para mostrar o gradiente */
    background-clip: text; /* Compatibilidade para navegadores que suportam sem prefixo */
  }
  .container-card-pesqlist p{
    width: 80%;
    height: 20%;
    margin: 0vw;
    font-size: 1.5vw;
    text-align: center;
    font-family: Montserrat-Bold;
    font-size: 1.8vw;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .container-pesq{
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-auto-rows: 20vw;
    justify-content: center;
    align-content: center;
  }
  /*
  .card-pesquisas{
    width: 100%;
    background-color: white;
    padding: 1vw 0vw;
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 20vw;
    overflow-y: scroll;
  }
  .card-pesquisas::-webkit-scrollbar{
    visibility:collapse;
    width: 0px;
   }
  .card-pesquisas:hover::-webkit-scrollbar{
   width: 1vw;
  }
  .card-pesquisas:hover::-webkit-scrollbar-track{
    background: white;
    border: #0b42ce solid 1px;
    border-radius: 15px;
   }
   .card-pesquisas:hover::-webkit-scrollbar-thumb{
    background: #0b42ce;
    border-radius: 15px;
   }
  
  .pesq-detail{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 0vw 1vw;
    box-sizing: border-box;
    transition: 0.2s;
    cursor: pointer;
    font-family: Montserrat-regular ;
    border-top: solid 1px black;
  }
  .pesq-detail:hover{
    transition: 0.2s;
    background-color: rgb(223, 223, 223);
  }
  .pesq-detail p{
    margin: 0vw;
    overflow: hidden;
    white-space: nowrap;
    height: 3vw;
    display: flex;
    align-items: center;
    
  }
  .pesq-detail .title-pesq{
   font-weight: 600;
   font-size: 1vw;
   width: 20%;
  text-align: center;
  margin: 0vw 1vw;
  }
  .pesq-detail .desc-pesq{
    font-size:1vw;
    width: 80%;
  } */
  .button-nova-pesquisa{
    background: linear-gradient(to right, #0b42ce,#062168 );
    width: 25vw;
    height: 3vw;
    border: none;
    margin: 2vw;
    border-radius: 15px;
    font-size: 1.5vw;
    font-family: Montserrat-Bold;
    color: white;
    cursor: pointer;
  }
  .button-nova-pesquisa:focus{
    background: white;
    color: #0b42ce;
    transition: 0.3s;
  }


  /* PESQUISAINFO*/
  .title-pesquisa{
    width: 90%;
    padding: 2vw 5vw;
    background: linear-gradient(180deg, #0b42ce,#062168); /* Defina as cores do gradiente */
    -webkit-background-clip: text; /* Recorta o background no texto */
    -webkit-text-fill-color: transparent; /* Torna o texto transparente para mostrar o gradiente */
    background-clip: text; /* Compatibilidade para navegadores que suportam sem prefixo */
    text-align: center;
    font-family: Montserrat-Bold;
    font-size: 3vw;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    margin: 0px;
  }
  .subtitle-pesquisa{
    width: 100%;
    padding: 0vw 5vw;
    color: black;
    text-align: center;
    font-family: Montserrat-Bold;
    font-size: 1.5vw;
    box-sizing: border-box;
    margin: 2vw 0vw;
  }
  .container-button{
    width: 6vw;
    height: 6vw;
    background-color: white;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .button-to-edit{
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section-1{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
  }
  .section-2{
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  .section-2 div{
   margin: 1vw 2vw;
  }
  .section-3{
    width: 80%;
    display: flex;
    flex-direction: column;

  }
  .section-3 li{
    margin: 0.5vw 2vw;
   }
   .section-4{
    width: 80%;
    display: flex;

  }


  /* Paginas do Medico*/
.container-page-medico{
  padding-left: 25%;
  display: flex;
  flex-direction: column;
}
.funcoes-medico{
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .h1notificacao{
    font-family: Montserrat-Bold;
    margin-top: 5vw;
    background-image: linear-gradient(to top, #0B42CE, #062168);
    background-clip: text;
    color: transparent;
    font-size: 3vw;
  }
  .container-card-medico{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 60vw;
  }
  .oioi{
    display: flex;
    flex-direction: row;
    max-width: 60vw;
    display: flex;
    flex-wrap: wrap;
  }
  .div-dados-pesquisa-medico{
    width: 15vw;
    margin: 1.5vw 2vw 0vw;
    background-color: white;
    padding:0.1vw;
    border: 1.5px solid;
    border-radius: 15px;
    box-sizing: border-box;
    background: linear-gradient(to top, #0b42ce,#062168);
    box-shadow: 0px 4px rgb(119, 119, 119);
    position: relative;
  }
  .div-background{
    background-color: white;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 12vw;
    max-height: 12vw;
    color: #08564E;
  }
  .h2-card-medico{
    font-family: Montserrat-Bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vw 1vw 0.3vw;
    min-height: 6vw;
    max-height: 8vw;
  }
  .linha-card{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: solid 1px #0B42CE;
  }
  /* Paginas do Medico Notificações*/
  .container-page-medico{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .h1notificacao{
    font-family: Montserrat-Bold;
    margin-top: 5vw;
    background-image: linear-gradient(to top, #0B42CE, #062168);
    background-clip: text;
    color: transparent;
    font-size: 3vw;
  }
  .notificacaomed{
    margin-bottom: 2vw;
  }
  .container-card-notificacoes, .notificacaomed{
    max-width: 60vw;
    padding:0.1vw;
    border: 1.5px solid;
    border-radius: 15px;
    box-sizing: border-box;
    background: linear-gradient(to top, #0b42ce,#062168);
    box-shadow: 0px 4px rgb(119, 119, 119);
    position: relative;
  }
  .dados-notificacaomed{
    font-family: Montserrat-regular;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
  }
  .div-dados-notificacaomed{
    font-family: Montserrat-regular;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  .titulo-notificacaomed{
    min-width: 15vw;
    margin-left: 1vw;
    display: flex;
    align-items: center;
    
  }
  h2{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .corpo-notificacaomed{
    margin: 0vw 1vw 0vw;
  }
/* Paginas listPesquisas paciente*/

    .pesq-detailpac {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: start;
      padding: 0vw 1vw;
      box-sizing: border-box;
      transition: 0.2s;
      cursor: pointer;
      font-family: Montserrat-regular;
  }

  /* Paginas preferencias paciente*/

  .pesq-detail {
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: start;
    padding: 0vw 1vw;
    box-sizing: border-box;
    transition: 0.2s;
    cursor: pointer;
    font-family: Montserrat-regular;
    border-top: solid 1px transparent;
}

.title-pesqpac {
    font-weight: bold;
    font-size: 1vw;
    margin: 0; 
}

.desc-pesqpac {
    font-size: 1vw;
    margin: 5px 0; 
}
  
/* Paginas de Notificações paciente*/
    .h1notificacaopac{
      font-family: Montserrat-Bold;
      margin-top: 5vw;
      background-image: linear-gradient(to top, #028275, #126b56);
      background-clip: text;
      color: transparent;
      font-size: 3vw;
      margin-bottom: 0;
    }

  .container-card-notificacoespac, .notificacaopac{
    max-width: 60vw;
    padding:0.1vw;
    border: 1.5px solid;
    border-radius: 15px;
    box-sizing: border-box;
    position: relative;
  }


  .notificacaopac{
    margin-bottom: 2vw;
    width: 80%;
  }


  
