@font-face {
  font-family: Montserrat-regular;
  src: url('../../public/fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: Montserrat-Bold;
  src: url('../../public/fonts/Montserrat-Bold.ttf');
}


/* Pagina inicial*/
@media (max-width:550px) {
  .header-container{
    width: 100%;
   height: 20vw !important;
  }
  .logo-start{
    width: 35vw !important;
    height: auto;
  }
  .link-login{
    width: 20vw !important;
    height: 10vw !important;
    font-size: 5vw !important;
}
.rodape{
  height: 27vw !important;
  position: absolute !important;
  bottom: 0px !important;
}
}

.logo-start{
  width: 12vw;
  height: auto;
}
.front-page-image{
  width: 100%;

}
.container-all-start{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.rodape{
  height: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient( to bottom, #0b42ce,#062168);
  width: 100%;
  color: white;
  font-family: Montserrat-regular;
}
.rodape p{
  margin: 0.2vw 0vw;
}
.header-container{
  width: 100%;
  height: 5vw;
  background: linear-gradient( to top, #0b42ce,#062168);   
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: space-between;
  padding: 0vw 2vw;
  box-sizing: border-box;
  box-shadow: 0px 1px 20px rgb(0, 0, 0);
  z-index: 1;
}
.link-login{
  width: 6vw;
  height: 2.5vw;
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content:center;
  border-radius: 15px;
 text-decoration: none;
 color: white;
 border: solid 1px white;
 font-family: Montserrat-Bold;
 transition: 0.1s;
}
.link-login:hover{
background-color: white;
color: #0b42ce;
transition: 0.1s;
}

/*CADASTRO */
@media (max-width:550px) {
  .container-user-type-select{
    width: 90vw !important;
    text-align: center;
  }
  .link-to-register{
    width: 65vw !important;
    height: 10vw !important;
    border-radius: 15px !important;
  
  }
}
.container-user-type-select{
  width: 45vw;
  height: fit-content;
  padding: 2vw 2vw;
background-color: white;
border-radius: 35px;
box-sizing: border-box;
font-family: Montserrat-regular;
display: flex;
flex-direction: column;
align-items: center;
}
.container-user-type-select h3{
  font-family: Montserrat-Bold;
  margin: 0px;
}
.container-user-type-select select{
  border-radius: 15px;
  font-family: Montserrat-Bold;
  text-align: center;
}
.link-to-register{
  width: 15vw;
  height: 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  text-decoration: none;
  background: linear-gradient( to bottom, #0b42ce,#062168);
  color: white;
  font-family: Montserrat-Bold;
  margin-top: 1vw;

}

  /*CADASTRO REPRESENTANTE*/
  @media (max-width:550px) {
    .form-container{
      width: 100% !important;
    }
    .form-container form{
      width: 90% !important;

  }
  .form-container input{
    width: 90%;
    height: 12vw !important;
    font-size: 4vw !important;
    padding: 0vw 3vw !important;
    margin-bottom: 3vw !important;
 
  }
  .form-container label{
     font-size: 4vw !important;
     padding-left: 4vw !important;
  } 
  .form-container i{
    font-size: 3vw !important;
  }
  .form-container textarea{
    height: 45vw !important;
    width: 100% !important;
    font-size: 4vw !important;
    padding: 2vw 2vw !important;
  } 
  .phone-number label{
    margin-left: -1vw !important;
   }
   .change-user{
    width: 18vw !important;
    height: 6vw !important;

}
.form-header p{
  font-size: 3vw !important;
  width: 50vw !important;
  height: 6vw !important;
  margin-bottom: 3vw !important;
}
.submit{
  width: 60vw !important;
  margin-right: 1vw ;
  height: 10vw !important;
  border-radius: 15px !important;
  font-size: 3vw !important;
  margin-bottom: 5vw !important;
}
}

  .form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 2vw 0vw;
  }
  .form-container input{
    width: 90%;
    height: 2.5vw;
    border-radius: 15px;
    border: 1px solid  #0b42ce;
    outline: none;
    padding: 0px 0.5vw;
    box-sizing: border-box;
    font-family: Montserrat-regular;
    font-size: 1vw;
  }
  .form-container i{
    color: #0B42CE;
    opacity: 50%;
    margin-left: 1vw;
    text-transform: uppercase;
   align-self: flex-end;
  }

  .form-container input:focus{
    outline: 0.5px solid #062168;
  }
  .form-container label{
    font-family: Montserrat-Bold;
     font-size: 1vw;
     margin: 0.5vw 0vw;
     align-self: start;
     margin-left: 3vw;
     width: 100%;
  } 
  

  .form-container .form{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  } 
  .form-container textarea{
    resize: none;
    width: 90%;
    height: 15vw;
    border-radius: 15px;
    border: 1px solid  #0b42ce;
    outline: none;
    padding: 0.5vw 0.5vw;
    box-sizing: border-box;
    font-family: Montserrat-regular;
    font-size: 0.8vw;
  } 
  .ajust-section{
    margin: 1vw 0vw;
    display: flex;
    width: 90%;
  }
  .ajust-section label{
   margin-left: 1vw;
  }
   
   .ajust-section input{
    width: 95%;
 }

   .ajust-section div{
      width: 100%;
      margin-right: 0vw;
   }
   .ajust-section button{
    height: 2vw;
    align-self: center;
    margin-top: 1vw;
    width: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: none;
    cursor: pointer;
 }
   
   .form-header{
      display: flex;
      flex-direction: row;
      justify-content: center;
   }

   .form-header p{
      width: 18vw;
      margin-right: 1vw ;
      height: 1.5vw;
      background: linear-gradient( to bottom, #0b42ce,#062168) ;
      color: white;
      font-family: Montserrat-Bold;
      border-radius: 25px;
      margin-bottom: 1vw;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1vw;
   }
   

 .submit{
  width: 15vw;
  margin-right: 1vw ;
  height: 3vw;
  background: linear-gradient( to bottom, #0b42ce,#062168) ;
  color: white;
  font-family: Montserrat-Bold;
  border-radius: 25px;
  margin-top: 1vw;
  font-size: 1.2vw;
  cursor: pointer;
  border: none;
}
.submit:focus{
  color: #0b42ce;
  background: white;
  border-color: #0b42ce;
  transition: 0.5s;

}
.change-user{
    width: 5vw;
    height: 1.5vw;
    background: white ;
    color: #0b42ce;
    border: 1px solid #0b42ce;
    font-family: Montserrat-Bold;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.1vw;
    align-self: center;

}
.ajust-link{
  text-decoration: none;
  color: #0b42ce;
}

.phone-number{
  width: 90%;
  margin-top: 1vw;
}
.phone-number input{
  width: 100%;
  margin-top: 0.7vw;
}
.phone-number label{
  margin-left: 1vw;
}


/*CADASTRO PACIENTE*/


h1.title-page-pac {
  font-family: Montserrat-Bold;
  font-size: 3vw;
  background: linear-gradient(180deg, #028275, #156b56);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.logo-container-pac {
  width: 12vw;
  height: 5vw;
  background-color: #028275;
  border-radius: 15px;
  margin: 0vw 0vw 2vw 0vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-container-pac img {
  height: 90%;
}


.form-pac{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-pac p{
  width: 18vw;
  margin-right: 1vw ;
  height: 1.5vw;
  background: linear-gradient( to bottom, #028275,#156b56) ;
  color: white;
  font-family: Montserrat-Bold;
  border-radius: 25px;
  margin-bottom: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
}

.submit.pac { 
  width: 15vw;
  margin-right: 1vw;
  height: 3vw;
  background: linear-gradient(to bottom, #028275, #028275); /* Alterado para #028275 */
  color: white;
  font-family: Montserrat-Bold;
  border-radius: 25px;
  margin-top: 1vw;
  font-size: 1.2vw;
  cursor: pointer;
  border: none;
}

.form-container.pac i {
  color: #028275; /* Alterado para a nova cor */
  opacity: 50%;
  margin-left: 1vw;
  text-transform: uppercase;
  align-self: flex-end;
}



  
/* Login*/
@media (max-width:550px) {
  .logo-container{
    width: 30vw !important;
    height: 15vw !important;
}
.logo-container img{
 width: 110% !important;
 height: auto !important;
}
.container-login{
  width: 80vw !important;
  height: auto !important;
  padding-bottom: 6vw !important;

}
.container-email-senha{

  width: 55vw !important;

}
.toggle-password {
  left: 62vw !important;
  bottom: 4vw !important;
}
.toggle-password img{
  width: 5vw !important;
}
.container-email-senha {
  width: 90% !important;
  margin: 4vw !important;


}
.container-email-senha input{
  width: 100% !important;
height: 10vw !important;
padding: 0vw 2vw !important;
font-size: 3vw !important;

}
.container-email-senha label{
  font-size: 3vw !important;
}
.container-login .submit{
  width: 55vw !important;
  height: 10vw !important;
  font-size: 4vw !important;

}
.container-login p, a{
  font-size: 3vw !important;
  margin-top: 3vw !important;
}

}

.container-all-login{
  margin-top: 6vw;
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
 }
 
 .logo-container{
     width: 12vw;
     height: 5vw;
     background-color: #0b42ce;
     border-radius: 15px;
     margin: 0vw 0vw 2vw 0vw;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .logo-container img{
  height: 90%;
}
 .border-container-login{
     width: 35%;
     height: 30vw;
     background: linear-gradient( to bottom, #0b42ce,#062168);
     box-sizing: border-box;
     padding: 1px;
     border-radius: 20px;
 }
 .container-login{
     width: 35vw;
     height: 28vw;
     border-radius: 35px;
     background-color: white;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }
 .container-email-senha{
     display: flex;
     flex-direction: column;
     align-items: left;
     justify-content: center;
     width: 30vw;
     position: relative;
 }
 .container-email-senha input{
     width: 100%;
   border: 1px solid #0b42ce;
   border-radius: 15px;
   height: 3vw;
   margin: 0.5vw 0vw;
   margin-bottom: 2vw;
   transition: 0.5s;
   font-family: Montserrat-regular;
   font-size: 1.0vw;
   padding: 0vw 1vw;
   box-sizing: border-box;

 }
 .container-email-senha input:nth-of-type(2){
  width: 90%;
}
 .container-email-senha input:focus{
     outline: none;
     border: 1px solid #020e2b;
     transition: 0.5s;
   }
 .container-email-senha label{
     font-family: Montserrat-Bold;
     font-size: 1.3vw;
     margin: 0.5vw 1vw;
 }
 .container-login .submit{
   width: 22vw;
   height: 3vw;
   background: linear-gradient( to bottom, #0b42ce,#062168); 
   border: none;
   border-radius: 15px;
   color: white;
   font-family: Montserrat-Bold;
   font-size: 1.5vw;
   cursor: pointer;
   transition: 1s;
   margin-top: -0.5vw;
   margin-bottom: 0.5vw;
 }
 .container-login button:focus{
     transition: 1s;
     background: white;
     color: #0b42ce ;
   }
   .container-login p, a{
     font-family: Montserrat-regular;
     font-size: 1vw;
     margin-top: 0.5vw;
     margin-bottom: 0vw;
   }
  .toggle-password{
    position: absolute;
    background-color: white;
    bottom: 3vw;
    left: 28.5vw;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

/* Paginas dos usuários*/


/* REPRESENTANTE*/
@media (max-width:550px) {
  .container-page{
    padding-left: 0px !important;

}
.title-page{
  font-size: 8vw !important;
}
}
 
.container-page{

    padding-left: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-page{
  font-family: Montserrat-Bold;
  font-size: 3vw;
  background: linear-gradient(180deg, #0b42ce,#062168); /* Defina as cores do gradiente */
  -webkit-background-clip: text; /* Recorta o background no texto */
  -webkit-text-fill-color: transparent; /* Torna o texto transparente para mostrar o gradiente */
  background-clip: text;
}
.container-page p, li, strong{
  font-family: Montserrat-regular;
  font-size: 1.4vw;
}
.card-border{
    width: fit-content;
    height: fit-content;
    background: linear-gradient(to top, #0b42ce,#062168);
    padding: 1px;
    box-sizing: border-box;
    border-radius: 35px;
    box-shadow: 0px 4px rgb(119, 119, 119);
    align-self: center;
    justify-self: center;
  }

  /* PARTICIPANTS*/
  @media (max-width:550px) {
    .subtitle-pac{
      text-align: center;
    }
    .section-pac h3{
     font-size: 6vw !important;
    }
    .section-pac .participant-list{
      grid-template-columns: 50% 50% !important; 
    }
    .section-pac button{
      width: 80%;
      height: 15vw !important;
      font-size: 3vw !important;
      align-self: center !important;
      justify-self: center !important;
    }
    .edit-patient{
      width: 70% !important;
      margin-top: 4vw;
     
    }
    .edit-patient h2{
      margin-bottom: 4vw !important;
     
    }
    .edit-patient p,strong{
      font-size: 5vw !important;
     
    }
    .edit-patient button{
      width: 15vw !important;
      height: 13vw !important;
    }
    .edit-patient div{
      margin: 4vw 0vw !important;
    }
    .reproval-motive{
      width: 70% !important;
      margin: 4vw 0vw !important;
      
    }
    .reproval-motive label{
      font-size: 4vw !important;
      text-align: center !important;
      margin: 2vw  0vw !important;
      margin-top: 6vw !important;
    }
    .reproval-motive textarea{
      width: 80% !important;
      padding: 2vw 2vw !important;
      height: 30vw !important;
      align-self: center !important;
     
    }
    .reproval-motive button:nth-of-type(1){
      width: 75% !important;
      height: 10vw !important;
      font-size: 5vw !important;
      margin: 3vw 0vw !important;
    }
    .reproval-motive button:nth-of-type(2){
     font-size: 5vw !important;
    }
    

  }

  .section-pac{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .subtitle-pac{
    font-family: Montserrat-Bold;
    margin-bottom: 1vw;
  }
  .section-pac h3{
    font-family: Montserrat-Bold;
    font-size: 1.5vw;
    width: 90%;
    text-align: center;
    border-bottom: #062168 1px solid;
    padding-bottom: 1vw;
  }
  .section-pac .participant-list{
    width: 90%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    box-sizing: border-box;
    padding: 0vw 1vw;
  }
  .section-pac button{
    width: 80%;
    margin: 1vw 0vw;
    background-color: white;
    border: #062168 1px solid;
    border-radius: 15px;
    font-family: Montserrat-Bold;
    font-size: 1vw;
    background: linear-gradient(180deg, #0b42ce,#062168); /* Defina as cores do gradiente */
    -webkit-background-clip: text; /* Recorta o background no texto */
    -webkit-text-fill-color: transparent; /* Torna o texto transparente para mostrar o gradiente */
    background-clip: text;
  }
  .edit-patient{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #0B42CE 1px solid;
    border-radius: 15px;
    padding: 0vw 0vw;
    box-sizing: border-box;
    margin-bottom: 1vw;
  }
  .edit-patient h2{
    width: 100%;
    border-bottom: solid 1px #0B42CE;
    margin: 0px;
    font-family: Montserrat-Bold;
    background: linear-gradient(180deg, #0b42ce,#062168); /* Defina as cores do gradiente */
    -webkit-background-clip: text; /* Recorta o background no texto */
    -webkit-text-fill-color: transparent; /* Torna o texto transparente para mostrar o gradiente */
    background-clip: text;
    padding: 0.5vw 0vw;
  }
  .edit-patient p{
    font-family: Montserrat-regular;
    font-size: 1vw;
    margin: 0.5vw 0vw;
  }
  .edit-patient strong{
    font-family: Montserrat-regular;
    font-size: 1vw;
  }
  .edit-patient div{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
  }
  .edit-patient button{
    width: 4vw;
    height: 2vw;
    margin-bottom: 1vw;
    background-color: white;
    border: black 1px solid;
    border-radius: 15px;
    cursor: pointer;
  }

  .reproval-motive{
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    border: #062168 1px solid;
    padding: 1vw 1vw;
    border-radius: 15px;
  }
  .reproval-motive label{
    align-self: center;
    font-family: Montserrat-Bold;
    font-size: 1vw;
    margin-bottom: 0.5vw;
  }
  .reproval-motive textarea{
    padding: 0.5vw 0.5vw;
    height: 5vw;
    font-family: Montserrat-regular;
    resize: none;
    border:#062168 1px solid;
    border-radius: 15px;
    margin-bottom: 1vw;
  }
  .reproval-motive button:nth-of-type(1){
    width: 40%;
    height: 2vw;
    align-self: center;
    background: linear-gradient(180deg, #0b42ce,#062168);
    border: none;
    color: white;
    font-family: Montserrat-Bold;
    font-size: 1vw;
    border-radius: 15px;    
    cursor: pointer;
  }
  .reproval-motive button:nth-of-type(2){
    background: none;
    border: none;
    font-family: Montserrat-Bold;
    position: absolute;
    right: 1vw;
    font-size: 1vw;
    top: 0.7vw;
    cursor: pointer;
  }


/* lista de pesquisas*/
  .title-suas-pesquisas{
    font-size: 3vw;
    font-family: Montserrat-Bold;
    background: linear-gradient(180deg, #0b42ce,#062168); /* Defina as cores do gradiente */
    -webkit-background-clip: text; /* Recorta o background no texto */
    -webkit-text-fill-color: transparent; /* Torna o texto transparente para mostrar o gradiente */
    background-clip: text; 
  }
  .container-card-pesqlist{
    width: 18vw ;
    height: 18vw;
    background-color: white;
    padding: 0vw 0vw;
    box-sizing: border-box;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-card-pesqlist .link-to-pesq{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw 0vw;
    text-decoration: none;
  }
  .container-card-pesqlist h2{
    width: 100%;
    height: 80%;
    margin: 0vw;
    padding: 0px;
    font-size: 1.5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Montserrat-Bold;
    font-size: 2.4vw;
    border-bottom: 1px solid black;
    background: linear-gradient(180deg, #0b42ce,#062168); /* Defina as cores do gradiente */
    -webkit-background-clip: text; /* Recorta o background no texto */
    -webkit-text-fill-color: transparent; /* Torna o texto transparente para mostrar o gradiente */
    background-clip: text; /* Compatibilidade para navegadores que suportam sem prefixo */
  }
  .container-card-pesqlist p{
    width: 80%;
    height: 20%;
    margin: 0vw;
    font-size: 1.5vw;
    text-align: center;
    font-family: Montserrat-Bold;
    font-size: 1.8vw;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .container-pesq{
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-auto-rows: 20vw;
    justify-content: center;
    align-content: center;
  }
 
  .button-nova-pesquisa{
    background: linear-gradient(to right, #0b42ce,#062168 );
    width: 25vw;
    height: 3vw;
    border: none;
    margin: 2vw;
    border-radius: 15px;
    font-size: 1.5vw;
    font-family: Montserrat-Bold;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  .button-nova-pesquisa:focus{
    background: white;
    color: #0b42ce;
    transition: 0.3s;
  }



  /* PESQUISAINFO*/
  .title-pesquisa{
    width: 90%;
    padding: 2vw 5vw;
    background: linear-gradient(180deg, #0b42ce,#062168); /* Defina as cores do gradiente */
    -webkit-background-clip: text; /* Recorta o background no texto */
    -webkit-text-fill-color: transparent; /* Torna o texto transparente para mostrar o gradiente */
    background-clip: text; /* Compatibilidade para navegadores que suportam sem prefixo */
    text-align: center;
    font-family: Montserrat-Bold;
    font-size: 3vw;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    margin: 0px;
  }
  .subtitle-pesquisa{
    width: 100%;
    padding: 0vw 5vw;
    color: black;
    text-align: center;
    font-family: Montserrat-Bold;
    font-size: 1.5vw;
    box-sizing: border-box;
    margin: 2vw 0vw;
  }
  .container-button{
    width: 6vw;
    height: 6vw;
    background-color: white;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .button-to-edit{
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button-to-edit img{
    width: 65%;
  }
  .section-1{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
  }
  .section-2{
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  .section-2 div{
   margin: 1vw 2vw;
  }
  .section-2 p{
    margin: 0.5vw 2vw;
   }
  .section-2 li{
    margin: 0vw 2vw;
   }
  .section-3{
    width: 80%;
    display: flex;
    flex-direction: column;

  }
  .section-3 li{
    margin: 0.5vw 2vw;
   }
   .section-4{
    width: 80%;
    display: flex;

  }

  /* novapesquisa e alterarpesquisa*/
  .subtitle-page{
    font-family:  Montserrat-Bold;
    background: linear-gradient(180deg, #0b42ce,#062168); /* Defina as cores do gradiente */
    -webkit-background-clip: text; /* Recorta o background no texto */
    -webkit-text-fill-color: transparent; /* Torna o texto transparente para mostrar o gradiente */
    background-clip: text; 
    margin: 0px;
  }
  .form-new-research{
    width: 60vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 34px;
    font-family:  Montserrat-Bold;
    font-size: 1vw;
  }

  .form-new-research input{
    width: 100%;
    height: 2.5vw;
    border-radius: 10px;
    border: solid 1px #062168;
    outline: none;
    font-family: Montserrat-regular;
    padding: 0vw 0.5vw;
    box-sizing: border-box;
   
  }
  .form-new-research label{
   margin-left: 1vw;
   margin-top: 0.5vw;
  }
  .form-new-research .session{
    height: fit-content;
    width: 90%;
    margin: 1.5vw 0vw;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .form-new-research .session button{
    align-self: center;
    height: 3vw;
    width: 3vw;
    background-color: white;
    border: none;
    font-family: Montserrat-Bold;
    font-size: 2vw;
    cursor: pointer;
  }
  .form-new-research .session:nth-of-type(2){
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .form-new-research .session:nth-of-type(2) label:nth-child(1){
    margin-left: 0px;
  }
  .form-new-research .session:nth-of-type(2) label:nth-child(2){
    margin-left: 3vw;
  }
  .form-new-research .session:nth-of-type(2) div:nth-of-type(1){
    width: 8%;
  }
  .form-new-research .session:nth-of-type(2) div:nth-of-type(2){
    width: 80%;
  }
  .form-new-research .session:nth-of-type(3) input{
    margin-top: 0vw;
  }
  .form-new-research .session:nth-of-type(4) input{
    margin-top: 1vw;
  }
  .form-new-research .session:nth-of-type(5) input{
    margin-top: 1vw;
  }
  .form-new-research .session:nth-of-type(6) textarea{
    height: 20vw;
    width: 100%;
    resize: none;
    border-radius: 25px;
    border: solid 1px #062168;
    outline: none;
    padding: 1vw 1vw;
    font-family: Montserrat-regular;
  }
  .form-new-research .session:nth-of-type(7){
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .form-new-research .session:nth-of-type(7) div{
    width: 40%;
  }
  .form-new-research .session:nth-of-type(7) input{
    width: 80%
  }
  .form-new-research .session:nth-of-type(10){
    height: fit-content;
    width: 80%;
    align-items: start;
    display: flex;
    flex-direction: row;
    margin: 1.5vw 0vw;
  }
  .form-new-research .session:nth-of-type(10) div{
    height: auto;
    width: fit-content;
    align-items: start;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-rows: auto;
    margin: 0vw 1vw
  }
  .form-new-research .session:nth-of-type(10) p{
    width: 8vw;
    align-self: start;
    margin: 0px;
  }
  .form-new-research .session:nth-of-type(10) button{
    width: 3vw;
    height: 1.9vw;
    background: linear-gradient(180deg, #0b42ce,#062168) ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    color: white;
  }
  .send-data{
    background: linear-gradient(180deg, #0b42ce,#062168) ;
    width: 25vw;
    height: 3vw;
    border: none;
    color: white;
    font-family: Montserrat-Bold;
    border-radius: 25px;
    margin: 1vw 0vw;
    font-size: 1.5vw;
  }

  /* NOTIFICAÇÕES REPRESENTANTE*/

  @media (max-width:550px) {
    .container-notfic-all{
      width: 80vw !important;
      padding: 5vw 3vw !important;

    }
    .container-notfic-all label{
      font-size: 5vw !important;

    }
    .container-notfic-all input:nth-of-type(1){
      height: 10vw !important;
      padding: 0vw 2vw !important;
    }
    .container-notfic-all input[type=file]{
      
    }
    .container-notfic-all textarea{
      height: 30vw !important;
      padding: 2vw 2vw !important;
    }
    .files-custom{
      width: 25vw !important;
      height: 10vw !important;
      font-size: 3vw !important;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: start;
      white-space: nowrap;
    }
    .container-notfic-all .container-select{
      width: 100% !important;
      justify-content: center !important;
      margin-top: 3vw;
    }
    .container-notfic-all select{
      width: 35%;
      height: 7vw !important;
      margin-top: 2vw;
      
    }
    .files-arrange{
      width: 10vw !important;
      height: 10vw !important;
      font-size: 8vw;
      border-radius: 45px !important;
      margin: 3vw 0vw;
    }
    .button-send-notification{
      background: linear-gradient(180deg, #0b42ce,#062168) ;
      width: 70vw !important;
      height: 10vw !important;
      margin-top: 5vw !important;
      font-size: 4vw !important;
      border-radius: 15px !important;

    }
  }

  .container-notfic-all{
    width: 48vw;
    height: fit-content;
    padding: 2vw 1vw;
    background-color: white;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
  }
  .container-notfic-all label{
    font-family:  Montserrat-Bold;
    font-size: 1vw;
    margin-left: 1vw;
  }
  .container-notfic-all input:nth-of-type(1){
    height: 2.5vw;
    border: #062168 solid 1px;
    border-radius: 15px;
    margin-bottom: 1vw;
    padding: 0vw 0.7vw;
    box-sizing: border-box;
    font-family: Montserrat-regular;
  }
  .container-notfic-all input[type=file]{
    width: 100%;
    height: 100%;
    opacity: 0%;
    position: absolute;
    cursor: pointer;
  }
  
  .files-arrange{
    width: 2vw;
    height: 2vw;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #062168;
    border-radius: 15px;
    margin-left: 1vw;
    color: #062168;
  }
  .container-notfic-all textarea{
    height: 10vw;
    border: #062168 solid 1px;
    border-radius: 15px;
    margin-bottom: 1vw;
    padding: 0.7vw 0.7vw;
    box-sizing: border-box;
    font-family: Montserrat-regular;
    resize: none;
  }
  .container-notfic-all .container-select{
   display: flex;
   width: 50%;
   align-items: center;
   justify-content: end;
   align-self: end;
  }
  .container-notfic-all select{
    width: 35%;
    height: 1.5vw;
    border: #062168 solid 1px;
    font-family:  Montserrat-Bold;
    border-radius: 15px;
    margin-left: 1vw;
  }
  .files-custom{
    height: 1vw;
    font-family:Montserrat-regular;
    border: #062168 1px solid;
    border-radius: 15px;
    padding: 0vw 1vw;
    box-sizing: border-box;
    margin-top: 1vw;
    margin-left: 1vw;
    margin-bottom: 1vw;
    font-size: 0.6vw;
  }
  .button-send-notification{
    background: linear-gradient(180deg, #0b42ce,#062168) ;
    width: 25vw;
    height: 3vw;
    border: none;
    color: white;
    font-family: Montserrat-Bold;
    border-radius: 25px;
    margin: 1vw 0vw;
    font-size: 1.5vw;
    cursor: pointer;
  }
  

  /* Paginas do Medico*/
.link-to-pesq-med{
  text-decoration: none;
  background: linear-gradient(180deg, #0b42ce,#062168); /* Defina as cores do gradiente */
    -webkit-background-clip: text; /* Recorta o background no texto */
    -webkit-text-fill-color: transparent; /* Torna o texto transparente para mostrar o gradiente */
    background-clip: text; 
}
.user-doutora{
  width: 70px;
  height: 70px;
  margin: 0.3vw 0.3vw;
  border-radius: 50%;
}
.container-page-medico{
  padding-left: 25%;
  display: flex;
  flex-direction: column;
}
.funcoes-medico{
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .h1notificacao{
    font-family: Montserrat-Bold;
    margin-top: 5vw;
    background-image: linear-gradient(to top, #0B42CE, #062168);
    background-clip: text;
    color: transparent;
    font-size: 3vw;
  }
  .container-card-medico{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 60vw;
  }
  .oioi{
    display: flex;
    flex-direction: row;
    max-width: 60vw;
    display: flex;
    flex-wrap: wrap;
  }
  .div-dados-pesquisa-medico{
    width: 15vw;
    margin: 1.5vw 2vw 0vw;
    background-color: white;
    padding:0.1vw;
    border: 1.5px solid;
    border-radius: 15px;
    box-sizing: border-box;
    background: linear-gradient(to top, #0b42ce,#062168);
    box-shadow: 0px 4px rgb(119, 119, 119);
    position: relative;
  }
  .div-background{
    background-color: white;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 12vw;
    max-height: 12vw;
    color: #08564E;
    position: relative;
  }
  .h2-card-medico{
    font-family: Montserrat-Bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vw 1vw 0.3vw;
    min-height: 6vw;
    max-height: 8vw;
  }
  .linha-card{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: solid 1px #0B42CE;
  }
  .button-to-edit-med{
    width: 2vw;
    height: 2vw;
    margin-right: -0.5vw;
    margin-bottom: -0.4vw;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
  }
  .imgbuttonmed{
    width: 50%;
    height: 50%;
  }
  /* Paginas do Medico Notificações*/
  .container-page-medico{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .h1notificacao{
    font-family: Montserrat-Bold;
    margin-top: 5vw;
    background-image: linear-gradient(to top, #0B42CE, #062168);
    background-clip: text;
    color: transparent;
    font-size: 3vw;
  }
  .notificacaomed{
    margin-bottom: 2vw;
    display: flex;
    flex-direction: column;
  }
  .previl-notificacao{
    flex-direction: row;
    justify-content: space-between;
  }
  .notificacaomed{
    margin-top: 0.5vw;
  }
  .container-card-notificacoes, .notificacaomed{
    max-width: 60vw;
    min-width: 60vw;
    padding:0.1vw;
    border: 1.5px solid;
    border-radius: 15px;
    box-sizing: border-box;
    background: linear-gradient(to top, #0b42ce,#062168);
    box-shadow: 0px 4px rgb(119, 119, 119);
  }
  .background-dados-notificacao, .dados-notificacaomed{
    font-family: Montserrat-regular;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .link-to-notificacao{
    text-decoration: none;
    color: black  ;
  }
  .div-dados-notificacaomed{
    font-family: Montserrat-regular;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  .titulo-notificacaomed{
    min-width: 15vw;
    margin-left: 1vw;
    display: flex;
    align-items: center;
    
  }
  h2{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .corpo-notificacaomed{
    margin: 0vw 1vw 0vw;
  }
  .button-notificacao-med{
    width: 2vw;
    height: 2vw;
    margin-right: -0.5vw;
    margin-bottom: -0.4vw;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
  }
  /* Pagina participantes medico*/
  .div-dados-part-med{
    width: 15vw;
    margin: 1.5vw 2vw 0vw;
    background-color: white;
    padding:0.1vw;
    border: 1.5px solid;
    border-radius: 15px;
    box-sizing: border-box;
    background: linear-gradient(to top, #0b42ce,#062168);
    box-shadow: 0px 4px rgb(119, 119, 119);
    position: relative;
  }
.linha-card-part-med{
  position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: solid 1px #0B42CE;
    color: #0B42CE;
    font-family: Montserrat-Bold;
}
.dados-card-part-med{
  margin-top: 3vw;
}
.p-participantes{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: Montserrat-regular;
}
.p-esquerdo{
  font-family: Montserrat-Bold;
  color: black;
  position: absolute;
  left: 0;
  margin-left: 1vw;
}
.p-direito{
  margin-left: 5vw;
}
.container-card-part-med{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 60vw;
}
.container-card-part{
  display: flex;
    flex-direction: row;
    max-width: 60vw;
    display: flex;
    flex-wrap: wrap;
    height: 50vw;
}
.div-background-part{
  background-color: white;
  border-radius: 10px;
  flex-direction: column;
  display: flex;
  align-items: center;
  text-align: center;
  min-height: 12vw;
  height: 15vw;
  max-height: 15vw;
  color: #08564E;
  position: relative;
}
.div-link-part{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 10vw;
}
.button-link-part{
    border: 1.5px solid #0B42CE;
    border-radius: 15px;
    width: 3vw;
    height: 2.5vw;
    background-color: white;
}
.img-link-part{
  width: 1.5vw;
  height: 1.5vw;
}
/* Paginas listPesquisas paciente*/

    .pesq-detailpac {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: start;
      padding: 0vw 1vw;
      box-sizing: border-box;
      transition: 0.2s;
      cursor: pointer;
      font-family: Montserrat-regular;
  }

  /* Paginas preferencias paciente*/

  .pesq-detail {
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: start;
    padding: 0vw 1vw;
    box-sizing: border-box;
    transition: 0.2s;
    cursor: pointer;
    font-family: Montserrat-regular;
    border-top: solid 1px transparent;
}

.title-pesqpac {
    font-weight: bold;
    font-size: 1vw;
    margin: 0; 
}

.desc-pesqpac {
    font-size: 1vw;
    margin: 5px 0; 
}
  
/* Paginas de Notificações paciente*/
    .h1notificacaopac{
      font-family: Montserrat-Bold;
      margin-top: 5vw;
      background-image: linear-gradient(to top, #028275, #126b56);
      background-clip: text;
      color: transparent;
      font-size: 3vw;
      margin-bottom: 0;
    }
  .container-card{
    max-width: 70vw;
  background-color: white;
    border-radius: 1.8vw;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .pesq-detailpac{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 1vw;
    margin-bottom: 1vw;
  }
  .dados-permicao-pasc {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .container-card-notificacoespac, .notificacaopac{
    max-width: 60vw;
    padding:0.1vw;
    border: 1.5px solid;
    border-radius: 15px;
    box-sizing: border-box;
    position: relative;
  }


  .notificacaopac{
    margin-bottom: 2vw;
    width: 80%;
  }


  
